{% extends "portfolio/base.html"%}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content%}
    <form method="POST" class="border p-5" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <h1 class="h5 mb-1 text-muted">Create a new project</h1>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-success text-white" type="submit">Submit Project</button>
        </div>
    </form>
{% endblock content%}